a.start-trial {
	float: right;
	margin: 18px 0;
	padding: 5px 20px;
	font-family:"Raleway-Bold";
	color:#fff;
	border-radius:50px;
	background-color:#14cc70;
}
.signup-btn {
	background-color: #14cc70;
	color: #ffffff;
	width: 270px;
	border-radius: 50px;
	padding: 15px;
	text-transform: uppercase;
}
.signup-btn:hover, .start-trial:hover {
	color: #ffffff;
}
.navbar-default {
	position: fixed;
	z-index: 9999;
	width: 100%;
	background-color: #fff;
	border: 0;
	border-radius: 0;
}
.navbar-header {
	margin-top: 20px;
}
.nav li, .nav li a {
	display: inline-block;
}
.nav li a {
	font-size: 12px;
	text-transform: uppercase;
	padding: 25px 15px;
	color: #6c7380;
	font-family: "Raleway-SemiBold";
}
.navbar-toggle {
	margin-top: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	float: none;
	height: auto;
	padding: 0;
	line-height: inherit;
}
.navbar-default .navbar-brand>img, .navbar-inverse .navbar-brand>img {
	top: auto;
	width: 160px;
	position: relative;
}
footer {
	background-color:#1b1f26;
	padding:30px 0;
	padding-top: 45px;
}
.access-links li {
	margin-bottom: 10px;
}
.access-links li a {
	font-size:12px;
	text-transform:uppercase;
	font-family:Raleway-SemiBold;
	color:#6c7380;
}
.footer-logo {
	margin-top:20px;
	display:inline-block
}
.footer-list {
	margin-top: 5px;
}
.footer-icon {
	color: grey;
}
@media (min-width: 768px) and (max-width: 992px){
	.container {
		width: 100% !important;
	}
	.nav li a{
		padding: 25px 10px;
	}
}
@media (max-width: 767px) {
	.nav {
		margin-bottom: 20px;
	}
	.nav li, .nav li a {
		display: block;
	}
	a.start-trial {
		float: none;
	}
}